<div class="col-md-8 col-md-offset-2"><%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  
  <div class="form-group">
    <%= f.label :date_of_date %><br>
    <%= f.text_field :date_of_date, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :police_agency %><br>
    <%= f.text_area :police_agency, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :place %><br>
    <%= f.text_field :place, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :gender %><br>
    <%= f.text_field :gender, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :date_of_birth %><br>
    <%= f.text_field :date_of_birth, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :race %><br>
    <%= f.text_field :race, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :manner_of_death %><br>
    <%= f.text_area :manner_of_death, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cause_of_death %><br>
    <%= f.text_area :cause_of_death, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :offenses %><br>
    <%= f.text_area :offenses, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :reason_for_initial %><br>
    <%= f.text_area :reason_for_initial, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :narrative %><br>
    <%= f.text_area :narrative, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :threats %><br>
    <%= f.text_area :threats, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :weapon %><br>
    <%= f.text_area :weapon, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :attack %><br>
    <%= f.text_area :attack, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :law_action %><br>
    <%= f.text_area :law_action, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :law_weapons %><br>
    <%= f.text_area :law_weapons, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :fatal_injury %><br>
    <%= f.text_area :fatal_injury, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :death_weapons %><br>
    <%= f.text_area :death_weapons, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :final_death_place %><br>
    <%= f.text_area :final_death_place, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :autopsy %><br>
    <%= f.text_area :autopsy, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :death_location_category %><br>
    <%= f.text_area :death_location_category, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :death_determined %><br>
    <%= f.text_area :death_determined, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :deceased_crime %><br>
    <%= f.text_area :deceased_crime, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :link_to_press %><br>
    <%= f.text_area :link_to_press, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
