<li class="data-each">

   <div class="name"><%= link_to post.name, post %></div>
    <div class="symbol"><%= simple_format post.police_agency %></div>
    <div class="number"><%= simple_format post.manner_of_death %></div>
    <div class="weight"><%= simple_format post.date_of_date %></div>
    <div class="category"><%= simple_format post.place %></div>
    <div class="gender"><%= simple_format post.gender %></div>
  <div class="date_of_birth"><%= simple_format post.date_of_birth %></div>
    <div class="race"><%= simple_format post.race %></div>
  <div class="cause_of_death"><%= simple_format post.cause_of_death %></div>
  <div class="offenses"><%= simple_format post.offenses %></div>


 </li>


    

 