<!DOCTYPE html>
<html>
	<head>
	  <title>Deaths in Police Custody</title>
	  
	 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script src="http://isotope.metafizzy.co/isotope.pkgd.min.js"></script>
    
    
   
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1-rc2/jquery.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700|Oswald' rel='stylesheet' type='text/css'>


    
    
    
    
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
     <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>

	</head>
	<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <% # search form %>
<%= form_tag posts_path, :class => 'form-inline', method: :get do %>
<div class="form-group">

  <%= text_field_tag "query", nil, :class => 'form-control' %>
  <%= submit_tag "Search", :class => 'btn btn-primary' %>
</div>
  <%= link_to "Clear", posts_path %>
<% end %>

<div id="sorts" class="button-group">
  <button class="button is-checked" data-sort-value="original-order">original order</button>
  <button class="button" data-sort-value="name">Name</button>
  <button class="button" data-sort-value="symbol">Police Agency</button>
  <button class="button" data-sort-value="number">Manner of Death</button>
  <button class="button" data-sort-value="weight">Date of Death</button>
  <button class="button" data-sort-value="category">Place</button>
  <button class="button" data-sort-value="gender">gender</button>
  <button class="button" data-sort-value="date_of_birth">dob</button>
  <button class="button" data-sort-value="race">race</button>
  <button class="button" data-sort-value="cause_of_death">cause of death</button>
   <button class="button" data-sort-value="offenses">offenses</button>

</div>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
  
      
       <%= link_to "Deaths in Police Custody Database", "/", class: "navbar-brand" %> 
            
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", about_url %></li>

        
          </ul>
        </li>
      </ul>
      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<a name="anchor"></a>
    
      

   
  
	<%= yield %>


  


 <script>
// init








     $( function() {

     

  // init Isotope
  var $container = $('.isotope').isotope({
    layoutMode: 'vertical',
    getSortData: {
      name: '.name',
      symbol: '.symbol',
      gender: '.gender',
      date_of_birth: '.date_of_birth',
      race: '.race',
      cause_of_death: '.cause_of_death',
      offenses: '.offenses',
      number: '.number parseInt',
      category: '.category',
      weight: function( itemElem ) {
        var weight = $( itemElem ).find('.weight').text();
        return parseFloat( weight.replace( /[\(\)]/g, '') );
      }
    }
  });

  // bind sort button click
  $('#sorts').on( 'click', 'button', function() {
    var sortValue = $(this).attr('data-sort-value');
    $container.isotope({ sortBy: sortValue });
  });

  // change is-checked class on buttons
  $('.button-group').each( function( i, buttonGroup ) {
    var $buttonGroup = $( buttonGroup );
    $buttonGroup.on( 'click', 'button', function() {
      $buttonGroup.find('.is-checked').removeClass('is-checked');
      $( this ).addClass('is-checked');
    });
  });

  // Instant Search
  $('#query').keyup(function(){
    $('.search_item').each(function(){
      var re = new RegExp($('#query').val(), 'i')
      if($(this).children('li.data-eac')[0].innerHTML.match(re)){
        $(this).show();
      }else{
        $(this).hide();
      };
    });
  });

  
});

</script>



	</body>
  
  
	</html>
