<!DOCTYPE html>
<html>
	<head>
	  <title>Deaths in Police Custody</title>
	  
	 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script src="http://isotope.metafizzy.co/isotope.pkgd.min.js"></script>
    
    
   
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1-rc2/jquery.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700|Oswald' rel='stylesheet' type='text/css'>


    
    
    
    
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
     <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>

	</head>
	<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
  
      
       <%= link_to "Deaths in Police Custody Database", "/", class: "navbar-brand" %> 
            
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", about_url %></li>
        <li><%= link_to "Manage Posts", posts_url %></li>

        
          </ul>
        </li>
      </ul>
      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<a name="anchor"></a>
    
      

   
  
	<%= yield %>



  <%= link_to "Back to Top", @post, anchor: "anchor", style: "float:right" %>
  






	</body>
   <script>
// init




     $( function() {

  // init Isotope
  var $container = $('.isotope').isotope({
    layoutMode: 'vertical',
    getSortData: {
      name: '.name',
      symbol: '.symbol',
      gender: '.gender',
      date_of_birth: '.date_of_birth',
      race: '.race',
      cause_of_death: '.cause_of_death',
      offenses: '.offenses',
      number: '.number parseInt',
      category: '.category',
      weight: function( itemElem ) {
        var weight = $( itemElem ).find('.weight').text();
        return parseFloat( weight.replace( /[\(\)]/g, '') );
      }
    }
  });

  // bind sort button click
  $('#sorts').on( 'click', 'button', function() {
    var sortValue = $(this).attr('data-sort-value');
    $container.isotope({ sortBy: sortValue });
  });

  // change is-checked class on buttons
  $('.button-group').each( function( i, buttonGroup ) {
    var $buttonGroup = $( buttonGroup );
    $buttonGroup.on( 'click', 'button', function() {
      $buttonGroup.find('.is-checked').removeClass('is-checked');
      $( this ).addClass('is-checked');
    });
  });
  
});

</script>
  
	</html>
